body {
    margin-left: 100px;
    background-color: #17202A;
    color: #ffffff;
}

.container-fluid {
    max-width: 1200px;
}

#main_header {
    height: 100px;
    margin-right: 675px;
    background-image: url("../images/cartoontitle.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#main-content {
    margin-right: 200px;
    border-style: dotted;
}

#cartoonName {
    width: 100%;
    text-align: center;
}

#columns {
    height: 500px;
    padding: 0;
    margin: 0;
}